# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Django
*.sqlite3
staticfiles/
media/

# Docker
mongo_data/

# Distribution
*.egg-info/
dist/
build/
